$daily-weather-width: 150px;
$daily-weather-height: auto;
$daily-weather-padding: 20px 5px;
$daily-weather-box-shadow: 0px 2px 31px -21px black;
$icon-size: 50px;
$color-light-grey: #d3d3d3;
.daily-weather {
  width: $daily-weather-width;
  height: $daily-weather-height;
  margin: auto;
  padding: $daily-weather-padding;
  text-align: center;
  cursor: pointer;
  box-shadow: $daily-weather-box-shadow;
  div {
    margin: 2px 0;
  }
  .date {
    font-size: 14px;
  }
  .description {
    font-size: 10px;
  }
  .icon {
    width: $icon-size;
    height: $icon-size;
  }
  .temperatures {
    .min-temp {
      color: $color-light-grey;
      font-size: 15px;
    }
    .max-temp {
      font-weight: bold;
      font-size: 18px;
    }
    .celsius {
      font-size: 8px;
    }
  }
  .calculations {
    font-size: 8px;
  }
}
